/* debug */
/*body * {
    border: 1px dotted black;
}
/* Poppins font */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

/* ----- Root ----- */
:root {
    --poppinsFullSize: 1.5;
}
html {
    font-size : 0.875em; /* default 14px */
}
body {
    font-family : "Poppins" !important;
}

/* ------ navigation bar ----- */
:root{
    --nav-panel-height: 5.5625em;
}
nav {
    height: var(--nav-panel-height);
}
nav header > img {
    margin-left: .4em;
    width: 10em;
    height: 3.3em;
}
ul.navLinks {
    list-style: none;
}
ul.navLinks li {
    margin: 0 1.5em;
    font-weight: bold;
}

#siteNav {
    width: calc(100% - 10.7em);
}
nav a {
    color: inherit;
}
nav a:hover {
    color: #3C0B8F;
}
nav :nth-child(n), nav li {
    display: inline-block;
}
#userpanel {
    margin-top: 4px;
}
#userpanel a {
    margin: 0 .46em;
}

/* elements positioning */
#siteNav {
    position: relative;
    top: calc(var(--nav-panel-height) / 2 - 1rem*var(--poppinsFullSize));
}
nav header {
    position: relative;
    top: 1.15em;
}

/* --- searchbar --- */
#searchbar {
    text-align: right;
    margin: 0 1.5em;
    width: 19.5em;
    height: 2.5em;
    border: 1px solid #ECECEC;
}
#searchbar :nth-child(n) {
    display: inline-block;
}
.searchBtn {
    vertical-align: top;
    padding: 0;
    border: 0;
    height: 100%;
    width: 2em;
    background-image: url("../graphics/magnifiying_glass.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
}
#searchbar > input {
    width: calc(100% - 2.3em);
    padding-left: 1em;
    height: 100%;
    border: 0;
}


/* ----- news alert box ----- */
.newsAlertBox {
    --height: 3.75em;
    background: #F5F5F5;
    height: var(--height);
    padding-top: calc(var(--height) / 2 - 1rem*var(--poppinsFullSize)/2);
}
.newsAlertBox a {
    color: inherit;
    text-decoration: underline;
}
.newsAlertBox a:hover {
    color: #3C0B8F;
}
/* ----- main ----- */
main {
    min-height: 70vh;
}

/* ----- misc ----- */
.centerText {
    text-align: center;
}
nav.wrapper {
    max-width: 1400px;
}
.wrapper {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
}
.buyBtn {
    border: none;
    background:#3926A2;
    font-size: 1.14rem;
    color: white;
}
/* ----- footer ----- */
footer {
    margin-top: 4em;
}
.shopping-promotion {
    display: grid;
    grid-template-columns: fit-content(2.7em) auto;
}
.shopping-promotion div {
    padding-left: 1em;
}
.shopping-promotion div h6 {
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* slick carousel */
ul.slick-dots {
    list-style: none;
}
.slick-dots li {
    display: inline-block;
    margin: 0 .4em;
}
.slick-dots button {
    width: 16px;
    height: 16px;
    background: #DCDCDC;
    border: none;
    border-radius: 50%;
    color: transparent;
}
.slick-dots li.slick-active button{
    background: url("../graphics/selected_dot.svg");
    width: 23px;
    height: 23px;
    transform: translateY(-3px);
}

/* ----- Responsive web design ----- */
@media (max-width: 1320px){
    ul.navLinks {
        padding-left: 1em;
    }
    #searchbar {
        margin: 0 .2em;
        width: 20vw;
    }
    ul.navLinks li {
        margin: 0 1em;
    }
}